

.power_flask {
  height: 33px;
}

.power_fill {
  height: 78%; 
  background-color: red;
  border-radius: 5px;
}

.power_fill_content {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
}

#fill_doublePoints {
  background: rgb(197,130,229);
  background: linear-gradient(180deg, rgba(197,130,229,1) 0%, rgba(58,10,160,1) 82%);
}
#fill_speedUp {
  background: rgb(228,69,69);
  background: linear-gradient(180deg, rgba(228,69,69,1) 0%, rgba(166,21,21,1) 82%);
}
#fill_tripplePoints {
  background: rgb(59,172,194);
  background: linear-gradient(180deg, rgba(59,172,194,1) 0%, rgba(0,60,91,1) 82%);
}
#fill_goldenPoints {
  background: rgb(251,240,137);
  background: linear-gradient(180deg, rgba(251,240,137,1) 0%, rgba(228,180,42,1) 79%);
}
#fill_poison {
  background: rgb(148,248,116);
  background: linear-gradient(180deg, rgba(148,248,116,1) 0%, rgba(7,85,32,1) 79%);
}
#fill_protection {
  background: rgb(48,247,255);
  background: linear-gradient(180deg, rgba(48,247,255,1) 0%, rgba(3,134,107,1) 79%);
}
#fill_blocker {
  background: rgb(148,248,116);
  background: linear-gradient(180deg, rgba(148,248,116,1) 0%, rgba(7,85,32,1) 79%);
}
#fill_fiftyfifty {
  background: rgb(179,134,99);
  background: linear-gradient(180deg, rgba(179,134,99,1) 0%, rgba(43,11,10,1) 79%);
}


.power_icer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
  }

  .power_mass_freeze {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
  }

  .power_effect_container {
    width: 200px;
    height: 40px;
    background-color: #2e1e12;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    display: flex;
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
  } 


  #blocker_big_splash {
    position: absolute;
    width: 800px;
    height: 800px;
    z-index: 500;
    left: calc(50% - 400px);
    top: 0
  }