@media only screen and (min-width: 1551px) { 


    .startView {
        width: 100%;
        height: 100vh;
    }
    
    .startView_top {
        width: 100%;
        height: 10%;
        background-color: #2e1e12;
    }
    
    .startView_middle {
        width: 100%;
        height: 80%;
        background-image: url("../../image_assets/general/background_image1.avif");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    
    .startView_logo {
       width: 770px;
       position: absolute;
       top: 10px;
    }

    .startView_centerBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
    
    .startView_btns {
        width: 550px;
        
    }
    
    .startView_or {
        width: 60px;
    }
    
    .startView_bottom {
        width: 100%;
        height: 10%;
        background-color: #2e1e12;
    }


}





