@media screen and (max-width: 1550px) and (min-width: 1001px) {  


    .marketplace {
        width: 100%;
        height: 100vh;
    }
    
    .marketplace_middle {
        width: 100%;
        height: 80%;
        background-image: url("../../../image_assets/general/background_image2.avif");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center; 
    }
    
    .marketplace_middle_container {
        width: 1024px;
        height: 100%;
        background: rgb(26,114,202);
        background: radial-gradient(circle, rgba(26,114,202,1) 0%, rgba(0,43,87,1) 100%);
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .marketplace_menu_container {
        height: 90px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .marketplace_menu {
        height: 50px;
        width: 700px;
        background-color: #1f80e0;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
    }
    
    .marketplace_menu_filler_left {
        width: 25%;
        height: 100%;
    }
    .marketplace_menu_potions_ingreds {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    .marketplace_menu_buysell {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .market_menu_btns {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Luckiest Guy', cursive;
        color: white;
        font-size: 23px;
        cursor: pointer;
    }
    
    .marketplace_menu_potions_btn {
        width: 110px; 
    }
    
    .marketplace_menu_indredients_btn {
        width: 160px;
        background-color: #1c62b3;
    }
    
    .menu_buysell_text {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Luckiest Guy', cursive;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    
    #marketplace_menu_buy {
        width: 60px;
    }
    #marketplace_menu_sell {
        width: 60px;
        background-color: #1c62b3;
        margin-right: 20px;
    }
    
    
    
    .marketplace_extra_space_bottom {
        height: 60px;
        width: 100%;
    }
    
    .marketplace_middle_ingred_container {
        width: 400px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
     /*   gap: 20px;  */
        row-gap: 15px;
    
        overflow: scroll;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll; 
    }
    
    .marketplace_middle_ingred_container::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
    
    .marketplace_ingred {
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    
    .marketplace_no_ingred {
        opacity: 0.5;
        pointer-events: none;
    }

    .marketplace_ingredBox {
        width: 75px;
        height: 78px;
        position: relative;
        text-align: center;
        cursor: pointer;
        margin-left: 20px;
    }

    .marketplace_ingred_amount {
        width: 20px;
        position: absolute;
        top: 78.8%;
        left: 80%;
        color: white;
        font-family: 'Luckiest Guy', cursive;
        font-size: 10px;
        margin: 0;
    }
    
    .marketplace_footer {
        width: 100%;
        height: 10%;
        background-color: #2e1e12;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 200;
    } 
    
    .marketplace_footer_container {
        width: 700px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        position: absolute;    
    }
    
    .marketplace_offer_text1 {
        width: 165px;
        color: white;
        font-family: 'Luckiest Guy', cursive;
        font-size: 25px;
        text-align: center;
    }
    .marketplace_offer_ingred {height: 90%;}
    .marketplace_offer_text2 {
        width: 60px;
        color: white;
        font-family: 'Luckiest Guy', cursive;
        font-size: 25px;
        text-align: center;
    }
    .marketplace_offer_btns {
        width: 40px;
        transform: translateY(2px);
        cursor: pointer;
    }
    .marketplace_offer_text3 {
        width: 60px;
        color: white;
        font-family: 'Luckiest Guy', cursive;
        font-size: 35px;
        text-align: center;
    }
    .marketplace_offer_done_btn {
        width: 80px;
        margin-left: 30px;
        cursor: pointer;
    }
    .marketplace_offer_done_btn_no_ingred {
        width: 80px;
        margin-left: 30px;
        opacity: 0.3;
        pointer-events: none;
    }
    
    .marketplace_footer_buy_process {
        width: 400px;
        color: white;
        font-family: 'Luckiest Guy', cursive;
        font-size: 25px;
        text-align: center;
    }
    
    
    
    .marketplace_offering {
        width: auto;
        height: 115px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    
    .marketplace_offering_price_btn {
        width: 85%;
        height: 20px;
        background-color: #1f80e0;
        border-radius: 7px;
        display: flex;justify-content: center;
        align-items: center;
        font-family: 'Luckiest Guy', cursive;
        color: white;
        font-size: 17px;
        padding-bottom: 1px;
    }
    
    .marketplace_letterImg {
        height: 80%;
        cursor: pointer;
    }




}