@media screen and (max-width: 1550px) and (min-width: 1001px) {

    .startView {
        width: 100%;
        height: 100vh;
    }
    
    .startView_top {
        width: 100%;
        height: 10%;
        background-color: #2e1e12;
    }
    
    .startView_middle {
        width: 100%;
        height: 80%;
        background-image: url("../../../image_assets/general/background_image.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .startView_logo {
       width: 570px;
       position: absolute;
       top: 10px;
    }

    .startView_centerBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
    
    .startView_btns {
        width: 400px;
        
    }
    
    .startView_or {
        width: 55px;
    }
    
    .startView_bottom {
        width: 100%;
        height: 10%;
        background-color: #2e1e12;
    }



}

