

 @media screen and (min-width: 701px) and (max-width: 1100px) {
    

    .startView {
        width: 100%;
        height: 100vh;  
        
    }

    .startView_top {
        width: 100%;
        height: 5%;
        background-color: #2e1e12;
    }
    .startView_middle {
        width: 100%;
        height: 90%;
        background-image: url("../background002.webp");
        background-repeat: no-repeat;
        background-size: cover;
       
        background-color: #39271a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .startView_bottom {
        width: 100%;
        height: 5%;
        background-color: #2e1e12;
    }

    .startView_centerBtns {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .startView_logo {
        width: 700px;
        position: absolute;
        top: 10px;
     }
     
     .startView_btns {
         width: 500px;
     }
     
     .startView_or {
         width: 60px;
     }

     
    
  
    }

    
/* PREVENTS SMARTPHONES */
@media only screen and (max-width: 699px) { 

    html {
      background-color: #a88269;
      background-image: url("../../../image_assets/general/no_phone.png");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: 50%;
  }
  
  .startView {display:none}
  .studentQuiz {display: none;}
  .potionsView {display: none;}
  .craftView {display: none;}
  .buySellView {display: none;}
  .scoreboardView {display: none;}
}

@media only screen and (max-height: 500px) { 

    html {
      background-color: #a88269;
      background-image: url("../../../image_assets/general/no_phone.png");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: 50%;
  }
  
  .startView {display:none}
  .studentQuiz {display: none;}
  .potionsView {display: none;}
  .craftView {display: none;}
  .buySellView {display: none;}
  .scoreboardView {display: none;}
}


 /* iPad 9-inch PORTRAIT */ 

/* Safari brower (no extra tabs) */ @media only screen and (max-width: 768px) and (min-width: 768px) and (max-height: 954px) and (min-height: 954px)  { 
    .startView {overflow: hidden; height: 97vh;}
    .startView_middle {background-image: url("../background002.webp");background-repeat: no-repeat;background-size: cover;}
}
/* Safari brower (with extra tabs) */ @media only screen and (max-width: 768px) and (min-width: 768px) and (max-height: 921px) and (min-height: 921px)  { 
    .startView {overflow: hidden; height: 93vh;}
    .startView_middle {background-image: url("../background002.webp");background-repeat: no-repeat;background-size: cover;}
}
/* Chrome brower (no extra tabs) */ @media only screen and (max-width: 768px) and (min-width: 768px) and (max-height: 909px) and (min-height: 909px)  { 
    .startView {overflow: hidden; height: 92vh;}
    .startView_middle {background-image: url("../background002.webp");background-repeat: no-repeat;background-size: cover;}
}

 /* iPad 9-inch LANDSCAPE */ 

/* Safari brower (no extra tabs) */ @media only screen and (max-width: 1024px) and (min-width: 1024px) and (max-height: 698px) and (min-height: 698px)  { 
    .startView {overflow: hidden; height: 97vh;}
    .startView_middle {background-image: url("../background004.webp");background-repeat: no-repeat;background-size: cover;}
}

/* Safari brower (with extra tabs) */ @media only screen and (max-width: 1024px) and (min-width: 1024px) and (max-height: 665px) and (min-height: 665px)  { 
    .startView {overflow: hidden; height: 93vh;}
    .startView_middle {background-image: url("../background004.webp");background-repeat: no-repeat;background-size: cover;}
}

 /* iPad 10.2-inch PORTRAIT */

/* Safari brower (no extra tabs) */ @media only screen and (max-width: 810px) and (min-width: 810px) and (max-height: 977px) and (min-height: 977px)  { .startView {overflow: hidden; height: 94vh;}}
/* Safari brower (with extra tabs) */ @media only screen and (max-width: 810px) and (min-width: 810px) and (max-height: 1010px) and (min-height: 1010px)  { .startView {overflow: hidden; height: 97vh;}}
/* Chrome brower (no extra tabs) */ @media only screen and (max-width: 810px) and (min-width: 810px) and (max-height: 965px) and (min-height: 965px)  { .startView {overflow: hidden; height: 94vh;}}


 /* iPad 10.2-inch LANDSCAPE */ 

/* Safari brower (no extra tabs) */ @media only screen and (max-width: 1080px) and (min-width: 1080px) and (max-height: 707px) and (min-height: 707px)  { 
    .startView {overflow: hidden; height: 94vh;}
    .startView_middle {background-image: url("../background004.webp");background-repeat: no-repeat;background-size: cover;}
}
/* Safari brower (with extra tabs) */ @media only screen and (max-width: 1080px) and (min-width: 1080px) and (max-height: 740px) and (min-height: 740px)  { 
    .startView {overflow: hidden; height: 95vh;}
    .startView_middle {background-image: url("../background004.webp");background-repeat: no-repeat;background-size: cover;}
}
/* Chrome brower */ @media only screen and (max-width: 1080px) and (min-width: 1080px) and (max-height: 695) and (min-height: 695px)  { 
    .startView {overflow: hidden; height: 97vh;}
    .startView_middle {background-image: url("../background004.webp");background-repeat: no-repeat;background-size: cover;}
}


/* Exact metric for iPad Pro 12.9"-inch portrait */
/* Safari brower (with extra tabs) */ @media only screen and (max-width: 768px) and (min-width: 768px) and (max-height: 898px) and (min-height: 898px)  { .startView {overflow: hidden; height: 90vh;}}

