@media only screen and (min-width: 1551px) { 



  .potionInfo_container {
    z-index: 500;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#potionInfo {
    display: none;
}

.potionInfo_scroll {
  width: 400px;
  height: 565px;
  background-image: url("../../image_assets/general/scroll.webp");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.potionInfo_scroll_top {
  width: 100%; 
  height: 90px; 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.potionInfo_scroll_top>img {height: 35px; margin-right: 30px; cursor: pointer;}
.potionInfo_scroll_title {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;  
  flex-direction: column;
  font-size: 30px;
  font-family: 'Luckiest Guy', cursive;
}
.potionInfo_scroll_description {
  width: 84%;
  height: auto;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 19px;
}
.potionInfo_scroll_flask {
  width: 85%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.potionInfo_scroll_flask>img {height: 100px;}
.potionInfo_scroll_effect {
  width: 85%;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#effectTitle {
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  margin-bottom: 5px;
}
.potionInfo_scroll_effect>p {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
}




}






