/* iPad 9-inch */

/* Safari brower (no extra tabs) */ @media only screen and (max-width: 768px) and (min-width: 768px) and (max-height: 954px) and (min-height: 954px)  { .loading {overflow: hidden; height: 97vh;}}
/* Safari brower (with extra tabs) */ @media only screen and (max-width: 768px) and (min-width: 768px) and (max-height: 921px) and (min-height: 921px)  { .loading {overflow: hidden; height: 93vh;}}
/* Chrome brower (no extra tabs) */ @media only screen and (max-width: 768px) and (min-width: 768px) and (max-height: 909px) and (min-height: 909px)  { .loading {overflow: hidden; height: 92vh;}}

 /* iPad 10.2-inch */

/* Safari brower (no extra tabs) */ @media only screen and (max-width: 810px) and (min-width: 810px) and (max-height: 977px) and (min-height: 977px)  { .loading {overflow: hidden; height: 94vh;}}
/* Safari brower (with extra tabs) */ @media only screen and (max-width: 810px) and (min-width: 810px) and (max-height: 1010px) and (min-height: 1010px)  { .loading {overflow: hidden; height: 97vh;}}
/* Chrome brower (no extra tabs) */ @media only screen and (max-width: 810px) and (min-width: 810px) and (max-height: 965px) and (min-height: 965px)  { .loading {overflow: hidden; height: 94vh;}}

/* Exact metric for iPad Pro 12.9"-inch portrait */
/* Safari brower (with extra tabs) */ @media only screen and (max-width: 768px) and (min-width: 768px) and (max-height: 898px) and (min-height: 898px)  { .loading {overflow: hidden; height: 90vh;}}

